* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;

}

canvas {
  display: block;
}

#mycanvas {
  width: 100%;
  height: 100%;
}
#HEAD {
  width: 90%;
  height:10%;
  margin-left: 80px;
  position: relative;
  font-family: 'Martel Sans', sans-serif;
  color:  	#383838


}

#motvis {
  height:776px;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  border-color: : #383838;
  overflow-y: hidden;
  -ms-overflow-style: none;
}
#treeHIDDEN {
  float: left;
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#circular {
  float: left;
  width: 60%;
  height: 100%;
}

#tree {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17;
  overflow-y: scroll;
  -ms-overflow-style: none;

}
::-webkit-scrollbar {
   width: 0;
display: none;
}
div#tooltip {
  position: absolute;
  display: inline-block;
  padding: 10px;
  font-family: 'Open Sans' sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}
